@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal-container{
    width: 45%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    padding: 3em 4em;
}

.principal-container section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.principal-container section img{
    height: 7em;
    margin-right: 12px;
}

.principal-container section h1{
    font-size: 23px;
    font-weight: bolder;
}

.principal-container p{
    margin-bottom: -15px;
}

.principal-container form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.principal-container form label{
    color: #07670f;
    margin-top: 5px;
    margin-bottom: 2px;
}

.principal-container form .email-insert{
    padding: 5px 10px;
    height: em;
    font-size: 1em;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 5px;
}

.principal-container form .email-insert:nth-of-type(5){
    margin-bottom: -5px;
}

.principal-container form button{
    height: 3.2em;
    cursor: pointer;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    margin: auto;
    margin-top: 10px;
}
  
.principal-container form button:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

