*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body{
    background-color: #e4f1f2;
}

header nav{
    background-color: #0c0c0c;
    display: flex;
}

header nav section{
    display: flex;
}

header nav section i{
    color: #e4f1f2;
}
