@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    list-style: none;
}

.off-canva-menu{
    position: relative;
}

header{
    position: relative;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #0005;
}

.menu {
    position: relative;
    display: inline-block;
  }
  
.menu-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
  
.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
}
  
.menu-list li {
    list-style: none;
}
  
.menu-list li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}
  
.menu-list li a:hover {
    background-color: #ddd;
}

header nav .logo-gonly-black-letters{
    height: 3.4em;
    margin: 5px;
    
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45em;
    height: 2.5em;
    border: 2px solid #000;
    margin: 5px;
    border-radius: 5px;
}

.search .search-div{
    display: flex;
    align-items: center;
    width: 100%;
}

.search .search-div i{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 20px;
    margin-top: -2px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8e2bc;
    transition: .1s ease-in;
}

.search .search-div input{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -1.5px;
    width: 100%;
    background-color: transparent;
    height: 100%;
    border: 0px;
    border-left: 2px solid #000;
    outline: none;
    transition: .5s ease-in-out;
}

.search .search-div input:focus{
    color: #000;
    padding-left: 18px;
    outline: none;
}

.search ul{
    background-color: #fff;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border: 1px solid #000;
    border-top: 0px;
    z-index: 15;
}

.search ul li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.search ul li h1{
    width: 8em;
    display: flex;
    margin: 0px 15px;
    font-weight: 900;
    align-items: center;
}

.search ul li p{
    display: flex;
    height: 4.5em;
    text-align: center;
    align-items: center;
    width: 18em;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

.search ul li span{
    width: 5.5em;
    font-weight: 900;
    font-size: 1.2em;
    margin-left: 15px;    
}

.search ul li img{
    width: 7em;
    height: 7em;
    border-radius: 10px;
}

#menuButton:focus + #menuDropdown, #menuDropdown:hover {
    display: block;
}

header nav .submit[value]:hover{
    cursor: pointer;
    background-color: #e7edd4;
}

.user-configuration{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-configuration svg{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50px;
}

.user-configuration h3{
    padding: 0 9px;
    display: block;
    width: 10em;
    white-space: nowrap; /* Evita el salto de línea */
     overflow: hidden; /* Oculta el exceso de contenido */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final */
}


header section{
    border-bottom: 1px solid #000;
}

header section ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header section ul a{
    color: #040404;
    margin: 15px 20px;
    font-size: 1.1em;
    position: relative;
}
  
header section ul a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 1.50px;
    background-color: #add104;
    transition: width 0.3s;
}
  
header section ul a:hover::after {
    width: 100%;
}

header section ul a li{
    color: #3c3c3c;
    transition: .2s ease-in;
}

header section ul a li:hover{
    color: #566331;
}

header section ul a li i{
    margin-right: 9px;
}

/* menu responsive, prueba 2 */

input[type="checkbox"]{
    display: none;
}

.mobile-display-logo{
    display: none;
}

.off-canvas-burger{
    display: none;
}

@media screen and (max-width: 860px) {

    .mobile-display-logo{
        display: block;
    }

    .off-canvas-btn, input[type="checkbox"]{
        display:block;
        position: fixed;
        z-index: 920;
        top: 20px;
        right: 20px;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        opacity: 0.1;
    }
    
    .off-canvas-burger{
        display: block;
        position: fixed;
        z-index: 910;
        top: 20px;
        right: 20px;
        width: 3rem;
        height: 3rem;
        font-size: 30px;
        text-align: center;
    }

    .off-canva-menu{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgb(227, 254, 254);
        z-index: 900;
        transform: translate(100%, 0);
        transition: transform 1s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-bottom: 8px;
    }

    .container-menu ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
    }

    .menu-items-cont1 ul a:hover{
        background-color: rgb(77, 255, 7);
    }

    .search-form-cont{
        display: none;
    }

    .off-canvas-btn:checked ~ .off-canva-menu{
        transform: translate(0, 0);
    }

    .search{
        width: 90%;
    }

    .logo-image{
        background-color: rgb(227, 254, 254);
        border-radius: 13px;
    }

    header nav .logo-gonly-black-letters{
        border-radius: 20px;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 55%;
        border: none;
    }

    header .menu-user-loged{
        border-bottom: none;
    }

    /* elementos fuera del menu responsive que cambian */

    .mobile-display-logo{
        width: 100%;
        position: relative;
        height: 70px;
        margin-bottom: -20px;
    }

    .logo-image2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: white;
        margin-top: -7px;
        border: 1px solid rgb(198, 198, 198);
        margin-bottom: 0px;
    }

    .logo-gonly-black-letters{
        height: 3.4em;
        margin: 5px;
    }

    header nav{
        border-bottom: 1px solid #0005;
    }

}

 @media screen and (max-width: 380px) {
    .mobile-display-logo{
        margin-top: 8px;
        position: sticky;
    }

    nav{
        height: 55%;
        border: none;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 55%;
        border: none;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 8px;
    }

    .search{
        width: 58%;
    }

    .menu-items-cont1 ul{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .menu-items-cont1 ul a{
        text-align: center;
        width: auto;
    }
 }

/* 

@media screen and (max-width: 860px) {
    .off-canvas-btn, input[type="checkbox"]{
        display:block;
        position: fixed;
        z-index: 920;
        top: 20px;
        right: 20px;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        opacity: 0.25;
    }
    
    .off-canvas-burger{
        display: block;
        position: fixed;
        z-index: 910;
        top: 20px;
        right: 20px;
        width: 3rem;
        height: 3rem;
        font-size: 30px;
        text-align: center;
    }

    .off-canva-menu{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #FFF9;
        z-index: 900;
        transform: translate(100%, 0);
        transition: transform 1s ease;
    }

    .off-canva-menu > nav > *{
        margin: 22px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-bottom: 8px;
    }

    .menu-items-cont1 ul{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .menu-items-cont1 ul a{
        text-align: center;
        padding: 19 px 0;
        width: 100%;
        border-bottom: 1px solid purple;
    }

    .menu-items-cont1 ul a:hover{
        background-color: rgb(77, 255, 7);
    }

    .search-form-cont{
        display: none;
    }

    .off-canvas-btn:checked ~ .off-canva-menu{
        transform: translate(0, 0);
    }

}
*/

/* 
<div class="container-nav1">
            
            <input type="checkbox" name="" class="off-canvas-btn">
            <label class="off-canvas-burger">☰</label>
            
            <div class="off-canva-menu">
                <nav>
                    <div class="logo-image">
                        <a href="{{ route('welcome') }}"><img class="logo-gonly-black-letters" src="{{ Vite::asset('resources/img/Logos/logo-gonly-black-letters.png') }}"></a>
                    </div>

                    <form action="" class="search-form-cont">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" class="search hover:outline-none" name="search-products" placeholder="{{__('Search product')}}">
                    <input type="submit" class="submit" value="{{__('Search')}}">
                    </form>       
                    
                    <x-translateSwicht />

                    <div class="container__user-status">
                        <svg viewBox="0 0 36 36" fill="none" role="img" xmlns="http://www.w3.org/2000/svg" width="80" height="80"><mask id=":r2f:" maskUnits="userSpaceOnUse" x="0" y="0" width="36" height="36"><rect width="36" height="36" rx="72" fill="#FFFFFF"></rect></mask><g mask="url(#:r2f:)"><rect width="36" height="36" fill="#ff005b"></rect><rect x="0" y="0" width="36" height="36" transform="translate(8 8) rotate(214 18 18) scale(1.1)" fill="#ffb238" rx="6"></rect><g transform="translate(4 4) rotate(-4 18 18)"><path d="M13,20 a1,0.75 0 0,0 10,0" fill="#000000"></path><rect x="10" y="14" width="1.5" height="2" rx="1" stroke="none" fill="#000000"></rect><rect x="24" y="14" width="1.5" height="2" rx="1" stroke="none" fill="#000000"></rect></g></g></svg>
                        <h3>
                        @if (Route::has('login'))
                            @auth
                            {{ Auth::user()->name }}
                            @else
                            Gonly - naitor
                            @endauth
                            @endif
                        </h3>
                        <a href="{{ route('profile.edit') }}" class="fa-solid fa-gear"></a>
                    </div>

                </nav>
                <section class="menu-items-cont1">
                    <ul>
                        <a href="{{ route('categories') }}"><li><i class="fa-solid fa-cubes-stacked"></i>{{__('Categories')}}</li></a>
                        @if (Route::has('login'))
                            @auth
                            <a href="#"><li><i class="fa-solid fa-cart-shopping"></i>Carrito</li></a>
                            <a href="{{ Route('dashboard') }}"><li><i class="fa-solid fa-gauge"></i>Panel</li></a>
                            @else
                                <a href="{{ route('login') }}"><li><i class="fa-solid fa-right-from-bracket"></i>{{__('Log in')}}</li></a>

                                @if (Route::has('register'))
                                    <a href="{{ route('register') }}"><li><i class="fa-solid fa-address-card"></i>{{__('Register')}}</li></a>
                                @endif
                            @endauth
                        @endif
                        <a href="#"><li><i class="fa-solid fa-circle-info"></i>{{__('Information')}}</li></a>
                        <a href="#"><li><i class="fa-solid fa-headset"></i>{{__("Contact")}}</li></a>
                    </ul>
                </section>
            </div>

        </div>
*/