@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    list-style: none;
}

.off-canva-menu{
    position: relative;
}

header{
    position: relative;
    z-index: 800;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #0005;
}

.menu {
    position: relative;
    display: inline-block;
  }
  
.menu-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
  
.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
}
  
.menu-list li {
    list-style: none;
}
  
.menu-list li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}
  
.menu-list li a:hover {
    background-color: #ddd;
}

header nav .logo-gonly-black-letters{
    height: 3.4em;
    margin: 5px;
    
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45em;
    height: 2.5em;
    border: 2px solid #000;
    margin: 5px;
    border-radius: 5px;
}

.search .search-div{
    display: flex;
    align-items: center;
    width: 100%;
}

.search .search-div i{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 20px;
    margin-top: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8e2bc;
    transition: .1s ease-in;
}

.search .search-div input{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -1.5px;
    width: 100%;
    background-color: transparent;
    height: 100%;
    border: 0px;
    border-left: 2px solid #000;
    outline: none;
    transition: .5s ease-in-out;
}

.search .search-div input:focus{
    color: #000;
    padding-left: 18px;
    outline: none;
}

.search ul{
    background-color: #fff;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border: 1px solid #000;
    border-top: 0px;
    z-index: 15;
}

.search ul li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.search ul li h1{
    width: 8em;
    display: flex;
    margin: 0px 15px;
    font-weight: 900;
    align-items: center;
}

.search ul li p{
    display: flex;
    height: 4.5em;
    text-align: center;
    align-items: center;
    width: 18em;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

.search ul li span{
    width: 5.5em;
    font-weight: 900;
    font-size: 1.2em;
    margin-left: 15px;    
}

.search ul li img{
    width: 7em;
    height: 7em;
    border-radius: 10px;
}

#menuButton:focus + #menuDropdown, #menuDropdown:hover {
    display: block;
}

header nav .submit[value]:hover{
    cursor: pointer;
    background-color: #e7edd4;
}

.user-configuration{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-configuration svg{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50px;
}

.user-configuration h3{
    padding: 0 9px;
    display: block;
    width: 10em;
    white-space: nowrap; /* Evita el salto de línea */
     overflow: hidden; /* Oculta el exceso de contenido */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final */
}


header section{
    border-bottom: 1px solid #000;
}

header section ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header section ul a{
    color: #040404;
    margin: 15px 20px;
    font-size: 1.1em;
    position: relative;
}
  
header section ul a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 1.50px;
    background-color: #add104;
    transition: width 0.3s;
}
  
header section ul a:hover::after {
    width: 100%;
}

header section ul a li{
    color: #3c3c3c;
    transition: .2s ease-in;
}

header section ul a li:hover{
    color: #566331;
}

header section ul a li i{
    margin-right: 9px;
}

/* menu responsive, prueba 2 */

input[type="checkbox"]{
    display: none;
}

.mobile-display-logo{
    display: none;
}

.off-canvas-burger{
    display: none;
}

@media screen and (max-width: 860px) {

    .mobile-display-logo{
        display: block;
    }

    .off-canvas-btn, input[type="checkbox"]{
        display:block;
        position: fixed;
        z-index: 920;
        top: 15px;
        right: 10px;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        opacity: 0.1;
        border: 2px solid green;
    }

    
    .off-canvas-burger{
        display: block;
        position: fixed;
        z-index: 910;
        top: 9px;
        right: 10px;
        width: 2rem;
        height: 2rem;
        font-size: 30px;
        text-align: center;
    }

    .off-canva-menu{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgb(227, 254, 254);
        z-index: 900;
        transform: translate(100%, 0);
        transition: transform 1s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-bottom: 8px;
    }

    .container-menu ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
    }

    .menu-items-cont1 ul a:hover{
        background-color: rgb(77, 255, 7);
    }

    .search-form-cont{
        display: none;
    }

    .off-canvas-btn:checked ~ .off-canva-menu{
        transform: translate(0, 0);
    }

    .search{
        width: 90%;
    }

    .logo-image{
        background-color: rgb(227, 254, 254);
        border-radius: 13px;
    }

    header nav .logo-gonly-black-letters{
        border-radius: 20px;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 55%;
        border: none;
    }

    header .menu-user-loged{
        border-bottom: none;
    }

    /* elementos fuera del menu responsive que cambian */

    .mobile-display-logo{
        width: 100%;
        position: relative;
        height: 70px;
        margin-bottom: -20px;
    }

    .logo-image2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: white;
        margin-top: -7px;
        border: 1px solid rgb(198, 198, 198);
        margin-bottom: 0px;
    }

    .logo-gonly-black-letters{
        height: 3.4em;
        margin: 5px;
    }

    header nav{
        border-bottom: 1px solid #0005;
    }

}

 @media screen and (max-width: 380px) {
    .mobile-display-logo{
        margin-top: 1px;
        position: sticky;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1px;
    }

    .search{
        width: 58%;
    }

    .menu-items-cont1 ul{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .menu-items-cont1 ul a{
        text-align: center;
        width: auto;
    }
 }

r::after {
    width: 100%;
}

header section ul a li{
    color: #3c3c3c;
    transition: .2s ease-in;
}

header section ul a li:hover{
    color: #566331;
}

header section ul a li i{
    margin-right: 9px;
}

