@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    list-style: none;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #0005;
}

.menu {
    position: relative;
    display: inline-block;
  }
  
.menu-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
  
.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
}
  
.menu-list li {
    list-style: none;
}
  
.menu-list li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}
  
.menu-list li a:hover {
    background-color: #ddd;
}

header nav .logo-gonly-black-letters{
    height: 3.4em;
    margin: 5px;
    
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45em;
    height: 2.5em;
    border: 2px solid #000;
    margin: 5px;
    border-radius: 5px;
}

.search .search-div{
    display: flex;
    align-items: center;
    width: 100%;
}

.search .search-div i{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 20px;
    margin-top: -2px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8e2bc;
    transition: .1s ease-in;
}

.search .search-div input{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -1.5px;
    width: 100%;
    background-color: transparent;
    height: 100%;
    border: 0px;
    border-left: 2px solid #000;
    outline: none;
    transition: .5s ease-in-out;
}

.search .search-div input:focus{
    color: #000;
    padding-left: 18px;
    outline: none;
}

.search ul{
    background-color: #fff;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border: 1px solid #000;
    border-top: 0px;
    z-index: 15;
}

.search ul li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.search ul li h1{
    display: flex;
    margin: 0px 15px;
    font-weight: 900;
    align-items: center;
}

.search ul li p{
    height: 4.5em;
    width: 18em;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

.search ul li span{
    font-weight: 900;
    font-size: 1.2em;
    margin-left: 15px;    
}

.search ul li img{
    width: 7em;
    height: 7em;
    border-radius: 10px;
}

#menuButton:focus + #menuDropdown, #menuDropdown:hover {
    display: block;
}

header nav .submit[value]:hover{
    cursor: pointer;
    background-color: #e7edd4;
}

.user-configuration{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-configuration svg{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50px;
}

.user-configuration h3{
    padding: 0 9px;
    display: block;
    width: 10em;
    white-space: nowrap; /* Evita el salto de línea */
     overflow: hidden; /* Oculta el exceso de contenido */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final */
}


header section{
    border-bottom: 1px solid #000;
}

header section ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header section ul a{
    color: #040404;
    margin: 15px 20px;
    font-size: 1.1em;
    position: relative;
}
  
header section ul a::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 1.50px;
    background-color: #add104;
    transition: width 0.3s;
}
  
header section ul a:hover::after {
    width: 100%;
}

header section ul a li{
    color: #3c3c3c;
    transition: .2s ease-in;
}

header section ul a li:hover{
    color: #566331;
}

header section ul a li i{
    margin-right: 9px;
}

.headers{
    display: none;
}

@media screen and (max-width: 1100px) {
    
    .logo-image{
        margin: 5px;
        min-width: 60px;
        height: 50px;
    }

    .logo-gonly-black-letters {
        display: none;
    }

    .logo-image{
        z-index: 1;
        background-image: url('../../../resources/img/Logos/logo-gonly-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        text-align: center;

    }


    #menuButton{
        padding: 0 0 0 10px;
        margin: 10px;
       }
}


@media screen and (max-width: 800px) {
   #buscador{
    display: none;
    visibility: hidden;
   } 
   #menuButton{
    margin: 10px;
   }



   /*Menu de hamburguesa*/

   .container-menu{
    display: none;
   }
   
   .headers{
    display: contents;
    
}

    #sidebarMenu {
        height: 31.5%;
        display: flex;
        position: fixed;
        width: 190px;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
        background: linear-gradient(180deg, #4ec616 0%, #4ec616 100%);
    }
    .sidebarMenuInner{
        margin:0;
        padding:0;
        border-top: 1px solid rgba(177, 205, 36, 0.1);
    }
    .sidebarMenuInner li{
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .sidebarMenuInner li span{
        display: block;
        font-size: 14px;
        color: rgba(204, 24, 24, 0.5);
    }
    .sidebarMenuInner li a{
        color: #fff;
    }
    
    input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }

    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 25px;
        left: 15px;
        height: 22px;
        width: 22px;
    }
    .spinner {
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        margin-top: 70px;
        background-color: #c89a9a;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;

    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
  
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }



   

}

@media screen and (max-width: 525px) {
    .logo-image{
        display: none;
    }

    #menuButton{
        width: 90%;
        padding: 2px; 

       }
      
 }

r::after {
    width: 100%;
}

header section ul a li{
    color: #3c3c3c;
    transition: .2s ease-in;
}

header section ul a li:hover{
    color: #566331;
}

header section ul a li i{
    margin-right: 9px;
}