:root{
	--white: #ffffff;
    --negro: black;
    --red: #de1313;
    --verde: rgb(17, 205, 17);
    --font: 'Poppins', sans-serif;
    --grisn: #1c1c1c;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    outline: none;
    text-decoration: none;

}

a{
  text-decoration: none;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
}

.contenedor form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.contenedor form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.contenedor form .row .col{
  flex:1 1 250px;
}

.contenedor form .row .col .title{
  font-size: 2.5rem;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.contenedor form .row .col .inputBox{
  margin:15px 0;
}

.contenedor form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.contenedor form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.contenedor form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.contenedor form .row .col .flex{
  display: flex;
  gap:15px;
}

.contenedor form .row .col .flex .inputBox{
  margin-top: 5px;
}

.contenedor form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.contenedor form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #000;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  border: none;
}

.contenedor form .submit-btn:hover{
  background: red;
}

.google{
  margin-left: 70%;
  margin-top: -1.6%;
}

  span{
    text-align: justify;
  }

