@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    list-style: none;
}

img{
    user-select: none;
}

body{
    background-color: #ebfbfb;
}

.home-present{
    background-repeat: no-repeat;
    background-size: cover;
    height: 82.9vh;
    padding: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-present section{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.home-present section div{
    margin-right: 6em;
}

.home-present section div h1{
    font-size: 5.3vw;
    margin-bottom: .4em;
    text-align: left;
    line-height: 107%;
}


.home-present section div h1 b{
    color: #d7f205;
    font-weight: 900;
    -webkit-text-stroke: 3.5px;
}

.home-present section div p{
    font-size: 1.5em;
    line-height: 107%;
    margin-bottom: 1.5em;
}

.home-present section div div{
    display: flex;
    justify-content: center;
}

.home-present section div div a{
    padding: 20px 40px;
    border: 2px solid #d7f205;
    display: flex;
    align-items: center;
    height: 3.5em;
    font-size: 1.2em;
    border-radius: 8px;
    color: #667302;
    background-color: rgba(255, 255, 255, 0.7);
    transition: .2s;
}

.home-present section div div a:hover{
    background-color: #d7f205;
    box-shadow: 0 0 0 5px #abb4c25f;
    color: #272a2a;
}

.home-present section article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-present section article img{
    height: 100%;
    width: 100%;
}

.principal-content{
    width: 87%;
    margin: 50px auto;
}

.famous-categories{
    margin-bottom: 35px;
}

.h2-forall{
    font-size: 30px;
}

.famous-categories{
    margin-bottom: 40px;
}

.famous-categories h2{
    text-align: left;
}

.famous-categories div{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.famous-categories div a{
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    align-items: center;
    transition: transform 0.3s;
}

.famous-categories div a img{
    border-radius: 100%;
    width: 10em;
    margin-bottom: 10px;
    height: 10em;
    transition: all 0.3s ease-in-out;
}

.famous-categories div a:hover img{
    border: 3px solid #c4f304;
}

.famous-categories div a:hover{
    transform: scale(1.05);
}

.famous-categories div a h3{
    color: #000;
    font-size: 20px;
}

.famous__product-offer div{
    display: flex;
    align-items: baseline;
    margin: 17px 0px 10px 0px;
}

.famous__product-offer div:nth-child(1) .modified-1{
    margin-right: 20px;
}

.famous__product-offer div:nth-child(1) .all{
    font-size: 20px;
    color: #2c3114;
    animation: movimiento-atras .2s linear forwards;
    transition: .2s ease-in ;
    height: 100%;
}

.famous__product-offer div:nth-child(1) .all:hover{
    animation: movimiento-adelante .2s linear forwards;
    color: #667302;
}

.famous__product-offer section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
    justify-content: space-evenly;
}

.famous__product-offer section .container__products-buyer{
    flex-direction: column;
    margin: 25px 10px;
    min-width: 240px;
    max-width: 210px;
    background-color: #b5fae0;
    border-radius: 5px;
    transition: .2s;
    overflow: hidden;
}

.famous__product-offer section .container__products-buyer:hover{
    background-color: #c7fae7;
    box-shadow: 0 0 0 5px #abb4c25f;
    color: #272a2a;
    transform: scale(1.015);
}

.famous__product-offer section .container__products-buyer .image-product {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.famous__product-offer section .container__products-buyer .image-product img{
    width: 100%;
    height: 20em;
    transition: .2s ease-in ;   
}

.famous__product-offer section .container__products-buyer .image-product h2, p{
    color: #000;
}

.famous__product-offer section .container__products-buyer .image-product h2{
    padding: 10px 0px 10px 10px;
    width: 90%;
    font-weight: bolder;
    font-size: 1.45em;
}

.famous__product-offer section .container__products-buyer .image-product p{
    padding: 5px 30px 10px 10px;
    font-weight: lighter;
}

.famous__product-offer section .container__products-buyer .price-products-buyer{
    color: #fff;
    padding: 8px;
    margin: 5px 30px 20px 10px;
    border-radius: 25px;
    background-color: #a6d74c;
}

.famous__product-offer section .container__products-buyer .car{
    width: 100%;
    background-color: #e4e4e4;
    font-size: 1..01em;
    text-align: center;
    padding: 8px 0px;
    color: #000;
}

.famous__product-offer section .profile-buyer{
    margin: auto;
    display: block;
    padding: 0px 0px 15px 0px;
}

.famous__product-offer section .profile-buyer h4{
    font-weight: lighter;
}

.product{
    position: relative;
    overflow: hidden;
    padding: 20px;
}
  
.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
  
.product-container {
    padding: 0 3em;
    display: flex;
    overflow-x: hidden;
    
    scroll-behavior: smooth;
}
  
.product-container::-webkit-scrollbar {
    display: none;
}
  
.product-card {
    background-color: #dee7dd;
    flex: 0 0 auto;
    width: 250px;
    height: 29em;
    padding: 9px;
    margin-right: 40px;
}
  
.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
  
.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}
  
.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
  
.product-card:hover .card-btn {
    opacity: 1;
}
  
.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}
  
.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}
  
.product-brand {
    text-transform: uppercase;
}
  
.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}
  
.price{
    font-weight: 900;
    font-size: 20px;
}
  
.actual-price {
    opacity: 0.5;
    text-decoration: line-through;
}
  
.pre-btn, .nxt-btn {
    border: none;
    width: 5em;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    background-color: #f8f9f0;
    z-index: 8;
}
  
.pre-btn {
    left: 0;
    transform: rotate(180deg);
}
  
.nxt-btn {
    right: 0;
}
  
.pre-btn img, .nxt-btn img {
    opacity: 0.2;
}
  
.pre-btn:hover img, .nxt-btn:hover img {
    opacity: 1;
}
  
.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
  
.collection {
    position: relative;
}
  
.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}
  
.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}

.modified-2 section .container__products-buyer{
    margin: 10px;
    min-width: 170px;
    max-width: 120px;
    background-color: #eff9e0;
}

.modified-2 section .container__products-buyer:hover{
    background-color: rgb(253, 255, 236);
    box-shadow: 0 0 0 3px #abb4c25f;
    transform: scale(1.015);
}

.modified-2 section .container__products-buyer .image-product img{
    height: 14em;
}

.modified-2 section .container__products-buyer .image-product h2{
    font-size: medium;
}

.modified-2 section .container__products-buyer .price-products-buyer{
    margin: 5px auto 10px auto;
}


.modified-2 section .container__products-buyer .vier-more{
    display: block;
    padding: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #667302;
    transition: all .3s;
}

.modified-2 section .container__products-buyer .vier-more:hover{
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #97ae00;
}

.part-app{
    height: 35em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.part-app::before {
    position: absolute;
    content: "";
    width: 70%;
    margin-left: -270px;
    transform: skew(-30deg);
    height: 100%;
    background-color: #00000060;
}

.part-app div{
    z-index: 2;
    margin-left: 75px;
    width: 40%;
}

.part-app div h2{
    color: #fff;
    font-size: 3.1em;
    margin-bottom: 25px;
    font-weight: bolder;
    -webkit-text-stroke: 1.2px;
}

.part-app div p{
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 35px;
    font-weight: lighter;
    -webkit-text-stroke: 1.2px;
}

.google-play-link{
    width: 14em;
}


.trending-month div h2{
    margin-bottom: 26px;
}

.trending-month section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trending-month section .trending__mont-1{
    display: flex;
    background-color: #dae4e4;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px 10px;
    height: 22em;
    width: 40em;
}

.trending-month section .trending__mont-1 .text{
    margin: 30px;
    width: 60%;
}

.trending-month section .trending__mont-1 .text h2{
    font-size: 3.9em;
    line-height: 0.8;
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: block;
    font-weight: 900;
    background: url('https://images.unsplash.com/photo-1567459169668-95d355371bda');
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trending-month section .trending__mont-1 .text p{
    font-size: 18px;
    color: #0e3d08;
}


.trending-month section .trending__mont-1 .trending__month-image-1{
    width: 50%;
}

.trending-month section .trending__mont-1 .trending__month-image-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: hue-rotate(100deg);
}

/* Agrega media queries para tamaños de pantalla más pequeños */

@media screen and (max-width: 700px) {

    .home-present{
        width: 100%;
        padding: 50px 40px 50px 40px;
    }
   
    .container-text-and-img-1{
        width: 100%;
        margin: 50px auto;
        margin-bottom: 20px;
    }

    .container-text1{
        width: 100%;
        height: 100%;
    }
    
    .container-categorias{
        padding: 0 50px 0 0;
    }

    .famous__product-offer div:nth-child(1) .modified-1{
        margin-right: 20px;
    }

    .trending-month section .trending__mont-1 .text p{
        font-size: 12px;
        color: #0e3d08;
    }
}

@media screen and (max-width: 400px) {
    .famous-categories{
        padding-top: 50px;
    }
    .famous-categories h2{
        width: 100%;
        text-align: center;
        padding-right: 50px;
    }

}

@media screen and (max-width: 1200px) {
    .home-present section div {
        margin-right: 0;
    }
}


@media screen and (max-width: 860px) {
    .container-text1{
        margin: 20px 0 0 0;
        
    }
    .container-text-and-img-1{
        flex-direction: column-reverse;
        margin: 20px 0 0 0;
    }
    .principal-content {
        margin: 70px 0;
    }

    .home-present{
        height: 90vh;
    }

    .principal-content {
        margin: 60px 0  0 50px;
    }
    
}